# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg

# Virtual env
venv/
.env/

# Checkpoints & experiment outputs
experiments/
*.pt
*.ckpt
*.pth
results.json

# Kaggle
kaggle_output/
kernel-metadata.json
